$primaryColor: #E5E5E5;
$secondaryColor: #005677;
$thirdColor: #C4C4C4;
$fourthColor: #FFFFFF;

.headerImg{
    text-align: center;
    background-color: $primaryColor;
}
h1, h3{
    color: $secondaryColor;
    background-color: $thirdColor;
    padding: 5px;
}

.mainTitle{
    text-align: center;
}
.otherList{
    list-style: none;
}
.subOtherList{
    padding-left: 79px;
}
footer{

    text-align: center;
   background-color: $secondaryColor; 
   width: auto;
   height: auto;
   position: relative;
   display: flex;
}
.footerS{
   color: $fourthColor;
   margin: 0 auto;
    vertical-align: middle;
    height: 100%;
    display: flex;
}
img{
    height: 100%;
    padding: 15px 10px 0 15px;
}
.containerInfo{
    margin: 0 auto;
    width: 60%;
    display: block;
}