*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;

}
.headerContainer{
    z-index: 1;
    position: sticky;
    left: 0px;
    top: 0px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    justify-content: center;
}
.discounts{
    padding: 10px;
    background-color: #1CD1B0;
    width: 100%;

}
.title{
    padding: 20px;
    font-size: 40px;
    background-color: #00669F;
    width: 100%;
}
.content{
    height: 100%;

}
.containerHeroes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.avatar{
    display: flex;
    margin-top: -30%;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}
.like{
    display: flex;
    flex-wrap: wrap;
    position:absolute;
    margin: 0 auto;
    left: 5%;
    top: 5%;
}
.hero{
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    max-height: 600px;
    margin: 20px 10px;
    float: left;
    background-color: #F3F3F3;
    border-radius: 15% 15% 0 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.bodyHero{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20%;

}
.descriptionHero{
    margin-top: 3%;
    width: 90%;
}
.headerHero{
    position: relative;
    max-height: 193px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.seeMorebtn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10%;
    margin-bottom: 15%;
    padding: 15px;
    width: 40%;
    background-color: #00669F;
    border: none;
    color: #F3F3F3;
}

.barFooter{

    padding: 20px;
    background-color: #00669F;
    width: 100%;
    color: #ffffff;
    clear: both;
    position: relative;
}